<br>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; <%= new Date().getFullYear() %> WebRev - TNPW2 - Matouš Svárovský</span>
    </div>
</footer>