<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fa fa-star" aria-hidden="true"></i>
    <a class="navbar-brand" href="/">&nbsp;WebRev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/search">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <% if (isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="/reviews/new">Vytvořit recenzi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myreviews">Moje recenze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Odhlásit</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Přihlášení</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registrace</a>
          </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link dark-mode-switch" href="#">Dark Mode</a>
        </li>        
      </ul>
    </div>
  </nav>