<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebRev | Domů</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <%- include('partials/style') %>

</head>
  
  <%- include('partials/navbar') %>
  
<body>
    <div class="container mt-5">
      <h1 class="mb-4">Web Review</h1>
        <p>Všechny recenze webových stránek na jednom místě!</p>
        <h3 class="mb-4">Poslední recenze</h3>
        <% if (reviews.length > 0) { %>
            <% reviews.forEach(function(review) { %>
              <a href="/reviews/<%= review.id %>" style="text-decoration: none; color: inherit;">
                <div class="card mb-3">
                  <h5 class="card-header">
                    <%= review.website %>
                  </h5>
                    <div class="card-body">
                        <p class="card-title">
                          <% for(let i = 0; i < review.rating; i++) { %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          <% } %>
                          </p>
                        <p class="card-text"><a href="https://<%= review.url %>" target="_blank"><%= review.url %></a></p>
                        <p class="card-text">
                        </p>
                        <p class="card-text"><%= review.review %></p>
                        <p class="card-text"><small class="text-muted">Napsáno uživatelem <%= review.author %> dne <%= new Date(review.date).toLocaleDateString() %></small></p>
                    </div>
                </div>
            </a>
            <% }) %>
        <% } else { %>
            <p>Nebyly nalezeny žádné recenze.</p>
        <% } %>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>const isAuthenticated = document.body.getAttribute('data-authenticated') === 'true'</script>
    <script>
    const darkModeSwitch = document.querySelector('.dark-mode-switch');

    darkModeSwitch.addEventListener('click', function(e) {
        e.preventDefault(); 
        document.body.classList.toggle('dark-mode');

        if(document.body.classList.contains('dark-mode')) {
            darkModeSwitch.textContent = 'Light Mode';
            localStorage.setItem('darkMode', 'enabled');
        } else {
            darkModeSwitch.textContent = 'Dark Mode';
            localStorage.setItem('darkMode', 'disabled');
        }
    });

    if(localStorage.getItem('darkMode') === 'enabled') {
        document.body.classList.add('dark-mode');
        darkModeSwitch.textContent = 'Light Mode';
    }
</script>

</body>
</html>
