<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebRev | Vytvořit recenzi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <%- include('partials/style') %>

</head>

  <%- include('partials/navbar') %>

<body>
    <div class="container mt-5">
        <h2>Vytvořit novou recenzi</h2>
        <hr>
        <form action="/reviews" method="POST">
            <div class="form-group">
                <label for="website">Název webové stránky</label>
                <input type="text" class="form-control" id="website" name="website" required>
            </div>
            <div class="form-group">
                <label for="url">URL webové stránky</label>
                <input type="text" class="form-control" id="url" name="url" required>
            </div>
            <div class="form-group">
                <label for="rating">Hodnocení <i class="fa fa-star" aria-hidden="true"></i></label> 
                <select class="form-control" id="rating" name="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="review">Recenze</label>
                <textarea class="form-control" id="review" name="review" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Odeslat recenzi</button>
            <a href="/" class="btn btn-link">Zpět na hlavní stranu</a>
        </form>
        <br>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>const isAuthenticated = document.body.getAttribute('data-authenticated') === 'true';</script>
    <script>
      const darkModeSwitch = document.querySelector('.dark-mode-switch');
  
      darkModeSwitch.addEventListener('click', function(e) {
          e.preventDefault(); 
          document.body.classList.toggle('dark-mode');
  
          if(document.body.classList.contains('dark-mode')) {
              darkModeSwitch.textContent = 'Light Mode';
              localStorage.setItem('darkMode', 'enabled');
          } else {
              darkModeSwitch.textContent = 'Dark Mode';
              localStorage.setItem('darkMode', 'disabled');
          }
      });
  
      if(localStorage.getItem('darkMode') === 'enabled') {
          document.body.classList.add('dark-mode');
          darkModeSwitch.textContent = 'Light Mode';
      }
  </script>
</body>
</html>
