<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebRev | Vyhledat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <%- include('partials/style') %>

</head>

  <%- include('partials/navbar') %>

<body>
<div class="container mt-5">
    <h2>Vyhledávání v recenzích</h2>
    <form action="/search" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" id="searchQuery" name="query" placeholder="Zadejte hledaný výraz" value="<%= searchQuery || '' %>">
        </div>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Vyhledat</button>
    </form>
    
    <% if (typeof reviews !== 'undefined' && reviews.length > 0) { %>
        <div class="mt-4">
            <h3>Výsledky vyhledávání pro: "<%= searchQuery %>":</h3>
            <div class="list-group">
                <% reviews.forEach(function(review) { %>
                    <a href="/reviews/<%= review._id %>" class="list-group-item list-group-item-action">
                        <h5 class="mb-1"><%= review.website %></h5>
                        <p class="mb-1"><%= review.review %></p>
                        <small>
                          <% for(let i = 0; i < review.rating; i++) { %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          <% } %><br><%= review.author %>, <%= new Date(review.date).toLocaleDateString() %></small>
                    </a>
                <% }) %>
            </div>
        </div>
    <% } else if (typeof reviews !== 'undefined') { %>
        <p>Nebyly nalezeny žádné výsledky pro "<%= searchQuery %>".</p>
    <% } %>
</div>

<%- include('partials/footer') %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>const isAuthenticated = document.body.getAttribute('data-authenticated') === 'true';</script>
<script>
  const darkModeSwitch = document.querySelector('.dark-mode-switch');

  darkModeSwitch.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent default link behavior
      document.body.classList.toggle('dark-mode');

      // Update the dark mode toggle text
      if(document.body.classList.contains('dark-mode')) {
          darkModeSwitch.textContent = 'Light Mode';
          localStorage.setItem('darkMode', 'enabled');
      } else {
          darkModeSwitch.textContent = 'Dark Mode';
          localStorage.setItem('darkMode', 'disabled');
      }
  });

  // Apply dark mode based on previous choice
  if(localStorage.getItem('darkMode') === 'enabled') {
      document.body.classList.add('dark-mode');
      darkModeSwitch.textContent = 'Light Mode';
  }
</script>
</body>
</html>
