<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebRev | <%= review.website %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <%- include('partials/style') %>

</head>
  <%- include('partials/navbar') %>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Detail recenze: <%= review.website %></h1>
    <div class="card">
        <div class="card-header">
            Hodnocení: <%= review.rating %>/5
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= review.website %></h5>
            <p class="card-text"><%= review.review %></p>
            <p class="card-text">Autor: <%= review.author %></p>
            <p class="card-text"><small class="text-muted"><%= new Date(review.date).toLocaleDateString() %></small></p>
            <a href="https://<%= review.url %>" class="btn btn-primary" target="_blank">Navštívit web</a>
        </div>
    </div>
    <a href="/" class="btn btn-link">Zpět na seznam recenzí</a>
</div>

<%- include('partials/footer') %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>const isAuthenticated = document.body.getAttribute('data-authenticated') === 'true';</script>
<script>
  const darkModeSwitch = document.querySelector('.dark-mode-switch');

  darkModeSwitch.addEventListener('click', function(e) {
      e.preventDefault(); 
      document.body.classList.toggle('dark-mode');

      if(document.body.classList.contains('dark-mode')) {
          darkModeSwitch.textContent = 'Light Mode';
          localStorage.setItem('darkMode', 'enabled');
      } else {
          darkModeSwitch.textContent = 'Dark Mode';
          localStorage.setItem('darkMode', 'disabled');
      }
  });

  if(localStorage.getItem('darkMode') === 'enabled') {
      document.body.classList.add('dark-mode');
      darkModeSwitch.textContent = 'Light Mode';
  }
</script>
</body>
</html>
